fastapi==0.115.2
uvicorn[standard]==0.32.0
sqlalchemy==2.0.35
psycopg2-binary==2.9.10
pydantic[email]==2.9.2
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
spacy==3.7.6
scikit-learn==1.5.2
websockets==13.1
transformers==4.46.0
torch==2.4.1
datasets==3.0.1
